html {
  height: 100%;
  width: 100%;
}
    .banner {
        background-color: #ff0000;
        color: #ffffff;
        padding: 10px;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
    }